<section id="header" class=" bg-black">
  <div class="flex flex-col justify-between lg:flex-row lg:max-h-[645px] ">
    <div class="flex flex-col justify-center max-w-xl p-12  lg:max-w-lg lg:pr-0 lg:ml-[20%]">
      <h1 class="font-robo font-semibold text-6xl text-primary lg:text-7xl" data-aos="zoom-in" data-aos-duration="1500">The Best gym in NYC</h1>
      <p class="font-open-sans leading-8 tracking-wider text-white text-lg mt-5 " data-aos="slide-right" data-aos-duration="1000" >We will develop a programme that will
        meet your individual needs.
        We are committed to helping you achieve your fitness goals.</p>
   
      <div class="">
        <button class="font-open-sans font-bold tracking-[1px] text-white mt-5 py-4 px-10 bg-primary"    data-aos="slide-right" data-aos-duration="500">START
          NOW</button>
       
      </div>

    </div>
    <div class="">
      <img src="../assets/images/header-img.jpg" class="lg:max-h-[645px] h-[100%] w-[100%]" data-aos="zoom-in" data-aos-duration="1000" >
    </div>
  </div>
</section>


<section id="main-content" class=" bg-primary">
    <div class="text-center text-white py-[60px] container mx-auto lg:max-w-6xl">
      <div class="px-[10px] w-full" data-aos="fade-up" data-aos-duration="1000" data-aos-offset="470">
        <h2 class="font-robo text-4xl text-white lg:text-5xl mx-auto max-w-[320px] lg:max-w-[400px]">What makes our gym different?</h2>
        <p class="font-open-sans  font-thin text-white text-lg  mt-[30px] lg:text-xl" >Change Your Body, Change Your Mindset. Our gym
          has everything you need to get results. Lorem ipsum dolor sit amet,
          consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
      </div>
      <div 
        class="flex flex-col space-y-10 mx-auto mt-10 w-[350px] sm:w-full md:w-full md:flex-row md:flex-wrap md:space-y-0 md:gap-5 md:justify-center lg:justify-between" data-aos-delay="200" data-aos="zoom-in" data-aos-duration="1500" data-aos-offset="300">
        <div class="w-full bg-white px-[10px] py-6 flex flex-col items-center md:w-[300px] lg:w-[230px]">
          <img src="'../../../assets/images/card1.png" class="h-[75px] w-[75px]">
          <h1 class="font-robo font-semibold text-black mt-6">WEIGHT LOSS</h1>
          <p class="font-open-sans text-black mt-6">Sample text. Click to select the Text Element.</p>
        </div>
        <div class="w-full bg-white px-[10px] py-6 flex flex-col items-center md:w-[300px] lg:w-[230px] ">
          <img src="'../../../assets/images/card2.png" class="h-[75px] w-[75px]">
          <h1 class="font-robo font-semibold text-black mt-6">YOUR IDEAL BODY</h1>
          <p class="font-open-sans text-black mt-6">Sample text. Click to select the Text Element.</p>
        </div>
        <div class="w-full bg-white px-[10px] py-6 flex flex-col items-center md:w-[300px] lg:w-[230px]">
          <img src="'../../../assets/images/card3.png" class="h-[75px] w-[75px]">
          <h1 class="font-robo font-semibold text-black mt-6">MORE ENERGY</h1>
          <p class="font-open-sans text-black mt-6">Sample text. Click to select the Text Element.</p>
        </div>
        <div class="w-full bg-white px-[10px] py-6 flex flex-col items-center md:w-[300px] lg:w-[230px]">
          <img src="'../../../assets/images/card-4.png" class="h-[75px] w-[75px]">
          <h1 class="font-robo font-semibold text-black mt-6">LESS PAIN</h1>
          <p class="font-open-sans text-black mt-6">Sample text. Click to select the Text Element.</p>
        </div>
      </div>
    </div>
</section>

<section id="about" >
    <div class="py-[60px] lg:py-[60px] container mx-auto lg:max-w-6xl ">
      <div class="flex flex-col mx-auto  md:flex-row md:w-full">
        <div class="md:w-[50%] lg:w-[40%]"  data-aos="fade-right" data-aos-duration="1500" data-aos-anchor-placement="top-center" data-aos-delay="50">
          <img src="../assets/images/about.jpg" class="h-full object-cover">
        </div>
        <div class="px-2 py-6 md:pl-10 md:my-auto md:w-[50%] lg:w-[60%]"  data-aos="fade-right" data-aos-duration="1500"  data-aos-anchor-placement="top-center">
          <h1 class="font-robo font-semibold text-3xl text-black lg:text-4xl">About Us</h1>
          <p class="font-open-sans font-thin text-lg text-black tracking-wider mt-5"> Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
            cupidatat non proident,
            sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
          <h1 class="font-robo font-semibold text-3xl text-black mt-5 lg:text-4xl">Our History</h1>
          <p class="font-open-sans font-thin text-lg text-black tracking-wider mt-5"> Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
            cupidatat non proident,
            sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
          <button class="font-open-sans font-bold tracking-[1px] text-white mt-10 py-4 px-10 bg-primary ">LEARN MORE
          </button>
        </div>
      </div>
    </div>
</section>


<section id="disclaimer" class="discp-img relative h-[500px]">
  <div class="absolute inset-0 flex justify-center items-center md:max-w-[700px] mx-auto">
    <h1 class="text-white text-center text-4xl font-robo font-semibold py-5 md:text-5xl">We are the best CrossFit gym in
      NYC and house the strongest community in New York.
    </h1>
  </div>
</section>


<section id="team" class=" bg-[#292d33]">
  <div class="team-bg-img h-[500px] flex justify-center">
    <h1 class="text-white text-6xl mt-[50px] font-open-sans font-extrabold tracking-tighter md:tracking-normal"  data-aos="zoom-in" data-aos-duration="1500" data-aos-offset="600"> Meet
      The Team</h1>
  </div>
  <div class="  -translate-y-28 container mx-auto lg:max-w-6xl">
    <div class="flex flex-col space-y-5 md:flex md:flex-row md:flex-wrap md:space-y-0 md:gap-5 md:justify-evenly" data-aos="fade-up" data-aos-duration="1500" data-aos-anchor-placement="top-center">
      <div class="bg-white p-6 sm:p-8 md:p-6 lg:p-4 w-full text-center md:w-[330px] lg:w-[230px]">
        <img src="../assets/images/team-1.jpg"
          class="h-[255px] sm:h-[382px] md:h-[235px] lg:h-[143px] object-cover block bg-cover bg-center w-full">
        <h1 class="text-black uppercase font-robo text-xl font-semibold mt-5">Jeffrey Brown</h1>
        <p class="text-black font-open-sans font-semibold contrast-50  mt-4">Head Coach & Head of Programming</p>
        <button class="font-open-sans font-bold tracking-[1px] text-white text-sm mt-4 py-2 px-5 bg-primary ">BIO
        </button>
      </div>
      <div class="bg-white p-6 sm:p-8 md:p-6 lg:p-4 w-full text-center  md:w-[330px] lg:w-[230px]">
        <img src="../assets/images/team-2.jpg"
          class="h-[255px] sm:h-[382px] md:h-[235px] lg:h-[143px] object-cover block bg-cover bg-center w-full">
        <h1 class="text-black uppercase font-robo text-xl font-semibold mt-5">CHRIS RICHMOND</h1>
        <p class="text-black font-open-sans font-semibold contrast-50  mt-4">Coach</p>
        <button class="font-open-sans font-bold tracking-[1px] text-white text-sm mt-4 py-2 px-5 bg-primary ">BIO
        </button>
      </div>
      <div class="bg-white p-6 sm:p-8 md:p-6 lg:p-4 w-full text-center md:w-[330px] lg:w-[230px]">
        <img src="../assets/images/team-3.jpg"
          class="h-[255px] sm:h-[382px] md:h-[235px] lg:h-[143px] object-cover block bg-cover bg-center w-full">
        <h1 class="text-black uppercase font-robo text-xl font-semibold mt-5">JENNIE ROBERTS</h1>
        <p class="text-black font-open-sans font-semibold contrast-50  mt-4">Head Coach & Head of Programming</p>
        <button class="font-open-sans font-bold tracking-[1px] text-white text-sm mt-4 py-2 px-5 bg-primary ">BIO
        </button>
      </div>
      <div class="bg-white p-6 sm:p-8 md:p-6 lg:p-4 w-full text-center md:w-[330px] lg:w-[230px]">
        <img src="../assets/images/team-4.jpg"
          class="h-[255px] sm:h-[382px] md:h-[235px] lg:h-[143px] object-cover block bg-cover bg-center w-full">
        <h1 class="text-black uppercase font-robo text-xl font-semibold mt-5">ALEX GREENFIELD</h1>
        <p class="text-black font-open-sans font-semibold contrast-50  mt-4">Crossfit Guru</p>
        <button class="font-open-sans font-bold tracking-[1px] text-white text-sm mt-4 py-2 px-5 bg-primary ">BIO
        </button>
      </div>
      <div class="bg-white p-6 sm:p-8 md:p-6 lg:p-4 w-full text-center md:w-[330px] lg:w-[230px]">
        <img src="../assets/images/team-5.jpg"
          class="h-[255px] sm:h-[382px] md:h-[235px] lg:h-[143px] object-cover block bg-cover bg-center w-full">
        <h1 class="text-black uppercase font-robo text-xl font-semibold mt-5">AMANDA SMITH</h1>
        <p class="text-black font-open-sans font-semibold contrast-50  mt-4"> Coach</p>
        <button class="font-open-sans font-bold tracking-[1px] text-white text-sm mt-4 py-2 px-5 bg-primary ">BIO
        </button>
      </div>
      <div class="bg-white p-6 sm:p-8 md:p-6 lg:p-4 w-full text-center md:w-[330px] lg:w-[230px]">
        <img src="../assets/images/tea-6.jpg"
          class="h-[255px] sm:h-[382px] md:h-[235px] lg:h-[143px] object-cover block bg-cover bg-center w-full">
        <h1 class="text-black uppercase font-robo text-xl font-semibold mt-5">NICK DAVIS</h1>
        <p class="text-black font-open-sans font-semibold contrast-50  mt-4">Coach</p>
        <button class="font-open-sans font-bold tracking-[1px] text-white text-sm mt-4 py-2 px-5 bg-primary ">BIO
        </button>
      </div>
      <div class="bg-white p-6 sm:p-8 md:p-6 lg:p-4 w-full text-center md:w-[330px] lg:w-[230px]">
        <img src="../assets/images/team-7.jpg"
          class="h-[255px] sm:h-[382px] md:h-[235px] lg:h-[143px] object-cover block bg-cover bg-center w-full">
        <h1 class="text-black uppercase font-robo text-xl font-semibold mt-5">MEGAN CONVAY</h1>
        <p class="text-black font-open-sans font-semibold contrast-50  mt-4">Coach</p>
        <button class="font-open-sans font-bold tracking-[1px] text-white text-sm mt-4 py-2 px-5 bg-primary ">BIO
        </button>
      </div>
      <div class="bg-white p-6 sm:p-8 md:p-6 lg:p-4 w-full text-center md:w-[330px] lg:w-[230px]">
        <img src="../assets/images/team-8.jpg"
          class="h-[255px] sm:h-[382px] md:h-[235px] lg:h-[143px] object-cover block bg-cover bg-center w-full">
        <h1 class="text-black uppercase font-robo text-xl font-semibold mt-5">PATRIK FRANK</h1>
        <p class="text-black font-open-sans font-semibold contrast-50  mt-4">Coach</p>
        <button class="font-open-sans font-bold tracking-[1px] text-white text-sm mt-4 py-2 px-5 bg-primary ">BIO
        </button>
      </div>
    </div>
  </div>
</section>

<section id="disclaimer-2" class="discp-img-2 relative min-h-[664px] object-cover">
  <div class="absolute inset-0 max-w-[300px] sm:max-w-[525px] flex  items-center md:max-w-[700px] mx-auto">
    <div class=" w-[400px] sm:w-[525px]">
      <h1 class="text-white text-2xl leading-10 md:leading-[3rem] contrast-75 font-sans font-medium">“The best gym in
        NYC. Coaches are super friendly and knowledgeable;
        if you want to be in great shape this is the place to go to.”</h1>
    </div>
  </div>
</section>

<section id="images">
  <div class=" bg-[#292d33] h-[300px]">
  </div>
  <div class="-mt-[230px] container mx-auto lg:max-w-6xl">
    <div class="img flex flex-col space-y-5 md:flex-row md:flex-wrap md:space-y-0  md:justify-between"  >
      <div class="md:w-[350px] lg:w-[240px]" data-aos="zoom-in" data-aos-duration="1500" data-aos-anchor-placement="top-center">
        <img src="../assets/images/pic-1.jpg"
          class="h-[450px] w-full object-cover sm:h-[700px] md:h-[450px] lg:h-[340px]" >
      </div>
      <div class="md:w-[350px] lg:w-[240px]" data-aos="zoom-in" data-aos-duration="1500" data-aos-delay="400">
        <img src="../assets/images/pic-2.jpg"
          class="h-[450px] w-full object-cover sm:h-[700px] md:h-[450px] lg:h-[340px]">
      </div>
      <div class="md:w-[350px] lg:w-[240px]" data-aos="zoom-in" data-aos-duration="1500" data-aos-delay="800" data-aos-anchor-placement="top-center">
        <img src="../assets/images/pic-3.jpg"
          class="h-[450px] w-full object-cover sm:h-[700px] md:h-[450px] lg:h-[340px]">
      </div>
      <div class="md:w-[350px] lg:w-[240px]" data-aos="zoom-in" data-aos-duration="1500" data-aos-delay="1200">
        <img src="../assets/images/pic-4.jpg"
          class="h-[450px] w-full object-cover sm:h-[700px] md:h-[450px] lg:h-[340px]">
      </div>
    </div>
  </div>
</section>

<section id="book">
  <div class=" py-16  container mx-auto lg:max-w-6xl ">
    <div class="flex flex-col md:flex-row ">
      <div class="md:w-[50%] ">
        <h2 class="text-black uppercase font-semibold text-2xl">Sign up for the newsletter</h2>
        <p class="text-black font-open-sans text-lg font-thin contrast-75 mt-4 tracking-wider">Want to be the first to
          read our news?
        </p>
        <p class="text-black font-open-sans text-lg font-thin contrast-75 tracking-wider">Subscribe to the newsletter to
          keep abreast
          of all
          events.</p>
        <div class="flex flex-col mt-6 sm:flex-row">
          <input type="text" placeholder="Enter a valid email address"
            class=" py-2 pl-4 outline-none bg-[#e5e5e5] sm:w-[80%] md:w-[60%] sm:mr-4">
          <button
            class="font-open-sans font-bold tracking-[1px] text-white mt-6 py-2 text-center bg-primary sm:w-[20%] md:w-[40%] sm:mt-0">SUBMIT
          </button>
        </div>
      </div>

      <div class="mt-8 md:w-[50%] md:mt-0 md:pl-16">
        <h1 class="text-black font-robo font-semibold text-5xl leading-tight"> Book your workout </h1>
        <h1 class="text-primary font-semibold text-2xl mt-4">+1&nbsp;(234)&nbsp;567-8910</h1>
      </div>
    </div>
  </div>
</section>

<footer class="h-[200px] mt-20 bg-[#292d33]">

</footer>